# App Database
DATABASE_HOST=localhost
DATABASE_USERNAME=root
DATABASE_PASSWORD=
DATABASE_NAME=good_night_app

# Test Database (Removable)
DATABASE_TEST_HOST=localhost
DATABASE_TEST_USERNAME=root
DATABASE_TEST_PASSWORD=
DATABASE_TEST_NAME=good_night_app_test
